<template>
  <div class>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Navigation Bar</ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-title>Subheader</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content></ion-content>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
