<template>
  <f7-app>
    <f7-statusbar />

    <f7-panel left cover>
      <f7-view>
        <f7-page>
          <f7-navbar title="Left Panel" />
          <f7-block>Left panel content</f7-block>
          <f7-list>
            <f7-list-item title="Ivan Petrov" after="CEO">XXX</f7-list-item>
            <f7-list-item title="John Doe" badge="5">
              <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
            </f7-list-item>
            <f7-list-item title="Jenna Smith">
              <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
            </f7-list-item>
          </f7-list>
        </f7-page>
      </f7-view>
    </f7-panel>

    <f7-view main>
      <f7-page>
        <f7-navbar title="My App" back-link="true"></f7-navbar>
        <f7-block>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, elit vitae scelerisque vulputate, tortor velit tempus dui, et luctus tellus justo nec velit. Duis scelerisque in tellus et pretium. Ut faucibus fringilla risus, ut dapibus nunc vehicula sit amet. Donec posuere nunc non fermentum commodo.</p>
        </f7-block>
        <f7-block>
          <f7-swiper pagination scrollbar zoon="false">
            <f7-swiper-slide v-for="value in sliders" :key="value">
              <f7-block>
                <img :src="value.image" alt style="width:100%" />
              </f7-block>
            </f7-swiper-slide>
            <f7-swiper-slide>
              <f7-block>Slide 2</f7-block>
            </f7-swiper-slide>
            <f7-swiper-slide>
              <f7-block>Slide 3</f7-block>
            </f7-swiper-slide>
          </f7-swiper>
        </f7-block>
        <f7-block>
          <f7-segmented>
            <f7-button panel-open="left">Left Panel</f7-button>
          </f7-segmented>
        </f7-block>
        <f7-list>
          <f7-list-item v-for="n in 3" :key="n" :title="`Item ${n}`" />
        </f7-list>
      </f7-page>
    </f7-view>
  </f7-app>
</template>

<script>
export default {
  data() {
    return {
      sliders: [],
      categories: [],
      menus: [
        { id: "my-order", name: "Pesanan" },
        { id: "my-favorite", name: "Favorite" },
        { id: "my-cart", name: "Keranjang" }
      ],
      auths: [
        { id: "page-logout", name: "Logout" },
        { id: "page-login", name: "Login" }
      ],
      pages: [
        { id: 1, name: "Page1", url: "/url" },
        { id: 2, name: "Page2", url: "/url" },
        { id: 3, name: "Page3", url: "/url" },
        { id: 4, name: "Page4", url: "/url" }
      ],
      drawer: null
    };
  },
  props: {
    source: String
  },
  mounted() {
    axios.get("/api/brand/1").then(response => {
      // this.brands = response.data.brands
      this.categories = response.data.category;
      this.sliders = response.data.slider;
      console.log(response);
    });
    console.log("PageHome Mounted");
  }
};
</script>

<style scoped>
.no-padding {
  margin: 0;
  padding: 0;
}
.oh {
  overflow: hidden;
}
.ih {
  height: 100vh;
  margin-left: 50%;
  transform: translateX(-50%);
}
</style>
